.content-white {
    text-align: center;
    width: 100%;
    background: #f9f9f9;
    padding-bottom: 30px;
    padding-top:30px;
    .content-white-child {
      background:$white;
      width: 70%;
      margin:auto;
      height: 70vh;
    }
  }